<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.api.mapper.AlarmMapper">


    <sql id="VLiveVo">
       TagName as tagName,
       TagType as tagType,
       DataType as dataType,
       Unit as unit,
       SystemType as systemType,
       RangMin as rangMin,
       RangMax as rangMax,
       LowAlarm as lowAlarm,
       AlarmStatus as alarmStatus,
       TagKey as tagKey,
       VALUE as value,
       TIMESTAMP as timestamp,
       SendSms as sendSms,
       DealAlarm as dealAlarm,
       DigCount as digCount,
       ValueType as valueType
    </sql>

    <sql id="VAlarmhisVo">
       TagName as tagName,
       TagType as tagType,
       TagDesc as tagDesc,
       DataType as dataType,
       Unit as unit,
       SystemType as systemType,
       RangMin as rangMin,
       RangMax as rangMax,
       LowAlarm as lowAlarm,
       TagKey as tagKey,
       StartValue as startValue,
       AvgValue as avgValue,
       EndValue as endValue,
       MAXVALUE as maxValue,
       Duration as duration,
       StartTime as startTime,
       EndTime as endTime,
       CreateTime as createTime,
       ID as id
    </sql>

    <sql id="VAlarmRealVo">
       ID as id,
       TagKey as tagKey,
       LowAlarm as lowAlarm,
       StartValue as startValue,
       EndValue as endValue,
       AvgValue as avgValue,
       MaxValue as maxValue,
       Duration as duration,
       StartTime as startTime,
       EndTime as endTime,
       TagName as tagName,
       TagDesc as tagDesc,
       TagType as tagType,
       DataType as dataType,
       Unit as unit,
       SystemType as systemType,
       RangMin as rangMin,
       RangMax as rangMax

    </sql>

    <sql id="InfoEventVo">
		id_ as id ,
		time_ as times ,
		systype as systype ,
		tagname as tagname ,
		tagkey as tagkey ,
		Device as device ,
		SubDevice as subDevice ,
		addr_ as addr ,
		val_ as val ,
		info_ as info,
		event_ as event ,
		class_ as classs ,
		user_ as users ,
		res_ as res ,
		varinfo_ as varinfo ,
		confirm_ as confirm ,
		cuser_ as cuser ,
		ctime_ as ctime

	</sql>

    <!--更新阿里云info_event_count告警数量-->
    <update id="updateInfoEventCount">
        update info_event_count set counts = #{newCount} where 1 = 1

    </update>

    <select id="getRealData" resultType="com.ruoyi.system.domain.VLive">
     select
      <include refid="VLiveVo"></include>
        from V_Live

    <where>
    <if test="systemType != null and systemType != ''">
            AND SystemType = #{systemType}
        </if>
    </where>


    </select>

    <!--告警统计-->
    <select id="getAlarmCountByDay" resultType="com.ruoyi.system.domain.VAlarmhis">

        select
        <include refid="VAlarmhisVo"></include>
        from V_AlarmHis
        <where>
            <if test="startTime != null and startTime != ''">
                AND  convert(varchar(7),StartTime,120) = #{startTime}
            </if>
        </where>


    </select>

    <!--历史告警-->
    <select id="getAlarmHis" resultType="com.ruoyi.system.domain.InfoEvent">
        select
        <include refid="InfoEventVo"></include>
        from info_event
        <where>
            <if test="startTime != null and startTime != ''">
                and Convert(varchar(10),[time_],120) = Convert(varchar(10),#{startTime},120)
            </if>
            <if test="info != null and info != ''">
                AND info_ like '%'+#{info}+ '%'
            </if>

        </where>

        order by time_ desc

    </select>

    <!--历史告警-数据曲线-历史数据-->
    <select id="getAlarmInfo" resultType="com.ruoyi.system.domain.VAlarmhis">
        select
        <include refid="VAlarmhisVo"></include>
        from V_AlarmHis
        <where>
            <if test="id != null and id != ''">
                AND ID = #{id}
            </if>
        </where>

    </select>

    <!--历史告警-数据曲线-实时数据-->
    <select id="getAlarmReal" resultType="com.ruoyi.system.domain.InfoEvent">

        select
        <include refid="InfoEventVo"></include>
        from info_event
        <where>
            <if test="id != null and id != ''">
                AND id_ = #{id}
            </if>
        </where>
    </select>

    <!--告警数据InfoEvent-->
    <select id="getInfoEvent" resultType="com.ruoyi.system.domain.InfoEvent">
        select
        <include refid="InfoEventVo"/>
        from info_event
        where event_ = 1
        order by time_ desc
    </select>

    <select id="getInfoEventCount" resultType="java.lang.Integer">
        select counts from info_event_count
    </select>


</mapper>