<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" lang="zh">
<head>
    <th:block th:include="include :: header('信息反馈列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
</head>
<body class="gray-bg">


<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="user-form">
                    <!--<input type="hidden" id="deptId" name="deptId">-->
                    <input type="hidden" id="userId" name="userId">
                    <div class="select-list">
                        <ul>
                            <li>
                                标题：<input type="text" name="title"/>
                            </li>
                            <li>
                                反馈人：<input type="text" name="userName"/>
                            </li>
                            <!--<li>
                                用户状态：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>-->
                            <!--<li class="select-time">
                                <label>时间： </label>
                                <input type="text" class="time-input" id="createTime" placeholder="开始时间" name="params[beginTime]"/>

                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <!--<a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="system:user:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                 <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" shiro:hasPermission="system:user:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>-->
                <a class="btn btn-danger multiple " onclick="$.operate.removeAll()"
                   shiro:hasPermission="feedback:feedback:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <!--  <a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="system:user:import">
                      <i class="fa fa-upload"></i> 导入
                  </a>
                  <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:user:export">
                      <i class="fa fa-download"></i> 导出
                  </a>-->
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<th:block th:include="include :: ztree-js"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('feedback:feedback:edit')}]];
    var removeFlag = [[${@permission.hasPermi('feedback:feedback:remove')}]];
    var resetPwdFlag = [[${@permission.hasPermi('feedback:feedback:resetPwd')}]];
    var prefix = ctx + "feedback/feedback";

    $(function () {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({initClosed: panehHidden, west__size: 185});
        queryUserList();

    });

    function queryUserList() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "信息反馈",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'ID'
                },
                {
                    field: 'title',
                    title: '标题',

                },
                {
                    field: 'userName',
                    title: '反馈人',
                    sortable: true
                },
                {
                    field: 'content',
                    title: '内容',
                    formatter: function (value, row, index) {
                        if (value.toString().length > 15) {
                            return value.toString().substring(0, 15) + "...";
                        } else {
                            return value.toString();
                        }
                    }
                },
                {
                    field: 'images',
                    title: '上传图片',
                    formatter: function (value, row, index) {
                        if (value.toString().length > 20) {
                            return value.toString().substring(0, 20) + "...";
                        } else {
                            return value.toString();
                        }
                    }
                },

                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        /* actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');*/
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');

                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }


</script>
</body>


</html>